<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Grid Test">
  <test name="on firefox">
  <parameter name="browser" value="fireffox"/>
    <classes>
      
      <class name="com.stockAccounting.Tests.gridtest123"/>
     
    </classes>
     </test> <!-- Test -->
    <test name="on firefox">
  <parameter name="browser" value="fireffox"/>
    <classes>
      
      <class name="com.stockAccounting.Tests.gridtest123"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
